Global_ICMPv6_20210624.zip filter=lfs diff=lfs merge=lfs -text
Global_UDP53_20210624.zip filter=lfs diff=lfs merge=lfs -text
Global_TCP_SYN80_20210624.zip filter=lfs diff=lfs merge=lfs -text
Global_TCP_ACK80_20210624.zip filter=lfs diff=lfs merge=lfs -text
Top100Country_ICMPv6_20220220.zip filter=lfs diff=lfs merge=lfs -text
Top100AS_UDP53_20220304.zip filter=lfs diff=lfs merge=lfs -text
Alias_Prefixes_20220218.zip filter=lfs diff=lfs merge=lfs -text